.pie{
	/*padding*/
	padding:30px;
	/****display flex****/
	display: flex;
	flex-direction: column;
	align-items: center;
	a{
		text-decoration: none;
	}
}


.pie__icon--sm{
	/*size*/
	width: 30px;
}

.pie__titulo--md{
	font-size: 2rem;
}
